.hero{
    background-image: url('../../img/herobg.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.hero__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.hero__title {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    max-width: 350px;
}

.hero__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    max-width: 730px;

    &::before{
        content: "";
        width: 50px;
        height: 4px;
        display: block;
        background-color: #F67E7E;
        margin-bottom: 40px;
    }
}
@media screen and (max-width:970px) {
    .hero__container{
        flex-direction: column;
        text-align: center;
    }
    .hero__title{
        max-width: 683px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }
    .hero__text{
        margin-left: auto;
        margin-right: auto;

        &::before{
            display: none;
        }
    }
}